table {
	border-collapse: collapse;
}

thead {
	background: linear-gradient(180deg, white, rgb(220,220,220));
	cursor: pointer;
}

tr, td, th {
	border: 1px solid gray;
	padding: 10px 5px;
}

thead th:hover {
	color: blue;
}

tbody tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.3);
}

tbody tr:nth-child(even) {
	background-color: rgba(200,200,200,0.3);
}

.selected {
	background-color: rgba(0,100,180,0.1);
}

caption {
	text-align: right;
}


nobr[previous="enabled"], nobr[next="enabled"] {
	cursor: pointer;
	color: blue;
}

nobr[previous="disabled"], nobr[next="disabled"] {
	color: gray;
}

